a{text-decoration:none;}
.right{float:right;}
.left{float:left;}

.top-menu{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:20;
	border-bottom:1px solid transparent;
	background-color:transparent;
    padding:0 5px;
}
.top-menu-i{
	border-bottom:1px solid #ddd;
	background-color:#fff;
}
.brand, .menu-item a, .cart a{color:#fff;}
.menu-item-i{color:#000 !important;}
.brand{
	float:left;
    padding:15px 0;
	font-size:1.5em;
    font-weight:700;
	text-decoration:none !important;
}
.center-nav{
    width:295px;
    margin:0 auto;
}
.menu-item li{
    display:inline-block;
    list-style:none;
    padding: 21px 13px;
}
.menu-item a{
    text-decoration:none;
}
.cart{
	list-style:none;
	padding: 20px 10px;
}
.cart a{
	display: inline-block;
    padding: 13px 8.5px;
    border-radius: 100%;
    background-color: #7E96D7;
    text-decoration:none;
    line-height:0;
}