*{
	font-family: 'Roboto', sans-serif;
}
a{text-decoration:none;}
.dib{display:inline-block;}
.right{float:right;}
.left{float:left;}

.top-menu{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:20;
	border-bottom:1px solid #ddd;
	background-color:#fff;
}
.brand{
	float:left;
    padding:10px 0;
	font-size:1.5em;
    font-weight:700;
    color:#000;
	text-decoration:none !important;
}
.top-menu nav{
	float:right;
}
.top-menu nav li{
	display:inline-block;
	list-style:none;
	padding:16px 10px;
}
.top-menu nav li a{
	text-decoration: none;
    font-size: 0.9em;
    color: #888;
}
.top-menu nav li a:hover{color:#000;}
.top-tool{float:right;}
.search-tl, .cart-tl, .sign-tl{padding: 12px 10px;}
.cart-tl a{
	position:relative;
	color:#000;
}
.cart-s{
	position:absolute;
	top: -3px;
    right: -7px;
    padding: 7px 4px 6px 3px;
    border-radius: 100%;
    line-height: 0;
    font-size: 0.55em;
    color: #fff;
    background-color: blue;
}
.sign-tl{padding-right:0;}

.home-slide{
	margin-top:57px;
	margin-bottom:50px
}
.li-slide{
	background-repeat: no-repeat !important;
	background-size: contain !important;
    height: 700px;
}
.slide-content{
	padding-top: 250px;
    text-align: center;
    color: #fff;
}
.slide-content h1{font-size: 4em;}
.slide-content h5{margin:15px 0 30px;}
.mySlides {display: none}
.fades {
  -webkit-animation-name: fades;
  -webkit-animation-duration: 2s;
  animation-name: fades;
  animation-duration: 2s;
}
@-webkit-keyframes fades {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fades {
  from {opacity: .4} 
  to {opacity: 1}
}

.home-ctg, .home-product{margin-bottom:50px}
.home-ctg .row{
	margin-right: -30px;
    margin-left: -30px;
}
.li-home-ctg{padding:0 30px;}
.li-ctg, .li-home-product{
	background-size: cover !important;
    background-repeat: no-repeat!important;
    text-align: center;
    padding: 80px 0;
    border-radius: 20px;
    border: 1px solid #ddd;
}
.li-ctg h3{
	color:#fff;
	margin:0;
	font-weight: 700;
}

.h-product a{text-decoration:none;}
.h-product-img{}
.h-product-text{
	padding-top:5px;
	word-break: break-word;
	color:#000;
}
.h-product-text p{margin-bottom:5px;}

footer{background-color:#222;}
.footer-1{padding:90px 0;}
.footer-1 h4{
	font-weight:700;
	color:#fff;
}
.footer-1 li{
	list-style: none;
    color: #ddd;
    padding:2px 0;
    font-size: 1.1em;
}
.footer-1 p{color:#ddd}
.scm a{
	color: #ddd;
	font-size: 1.2em;
    margin-right: 15px;
}
.send-email{position:relative;}
.send-email input{
	width: 100%;
	padding:5px 0;
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid #777;
    outline: unset;
    font-size: 1.1em;
    color: #fff;
}
.btn-subscribe{
	border-radius: 50px;
    outline: unset !important;
}
.footer-2{
	padding:25px 0;
	border-top:1px solid #333;
}
.footer-2 p{
	text-align:center;
	color:#999;
	margin